@typeparam TItem

@Header

<h3>TemplatedComponent</h3>

<div>
    @foreach (var item in Items)
    {
        @RepeaterItem(item)
    }
</div>

@Footer

@code {

    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }

    [Parameter]
    public List<TItem> Items { get; set; }

    [Parameter]
    public RenderFragment<TItem> RepeaterItem { get; set; }

}
