@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<br />

<VisibilityComponent @ref="visibilityComponent"></VisibilityComponent>

<br />

<button @onclick="Toggle">Toggle Visibility</button>

<br />
<br />

<TemplatedComponent TItem="Product" Items="products">

    <Header>
        <p>This is header fragment</p>
    </Header>

    <RepeaterItem Context="item">
        <p>Name: @item.Name</p>
        <p>Brand: @item.Brand</p>
        <p>Price: @item.Price</p>
    </RepeaterItem>

    <Footer>
        <p>This is footer fragment</p>
    </Footer>

</TemplatedComponent>

@code
{
    private VisibilityComponent visibilityComponent;

    void Toggle()
    {
        this.visibilityComponent.SetVisibility();
    }

    private List<Product> products = new List<Product>
    {
        new Product { Id=1, Brand="Lenovo", Name="Thinkpad", Price=1000 },
        new Product { Id=2, Brand="Lenovo", Name="Thinkbook", Price=800 },
        new Product { Id=3, Brand="Lenovo", Name="Thinktab", Price=600 },
    };
}